<h1>My preferences</h1>

<table>
  <tr>
    <th>Chore</th>
    <th>Amount</th>
    <th>Manually set</th>
  </tr>

<% @prefs.each do |scheduler_id,pref| %>
  <% scheduler=ChoreScheduler.find(Integer(scheduler_id))%>
  <% chore=scheduler.chore%>
  <% if chore %>
    <tr>
      <td><%= chore.name %></td>
      <td><%= pref[:value] %></td>
      <td><%= pref[:manual] %></td>
    </tr>
  <% end %>
<% end %>
</table>

