<h1>My preferences</h1>

<table>
  <tr>
    <th>Chore</th>
    <th>Amount</th>
    <th>Manually set</th>
  </tr>

<% @prefs.each do |scheduler_id,pref| %>
  <% scheduler=ChoreScheduler.find(Integer(scheduler_id))%>
  <% chore=scheduler.chore%>
  <tr>
  </tr>
<% end %>
</table>

