/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import url(http://fonts.googleapis.com/css?family=Mate);

body {
	background-color: #666;
	font-family: 'Mate', serif;
	font-size: 1em;
}

a {
  color: #000;
}

a:hover {
  color: #666;
  background-color: #fff;
}

/*a:visited {
  color: #666;
}*/

td {
  padding-right: 1em;
  text-align: left;
  border-top: 1px solid black;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

#user {
  float: left;
  color: #fff;
}

#chorons {
  float: right;
  clear: after;
  color: #fff;
}

#nav {
  margin-left: 1.5em;
  clear: both;
}

.navtab {
  float: left;
  margin-top: 1em;
  margin-left: 0.2em;
  background-color: #c9c9c9;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navtab:hover {
  background-color: #fff;
}

#main {
  clear: both;
  background-color: #dedede;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
