// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#views {
  float: right;
}

.overdue {
  color: red;
}

.quickbid {
  font-size: 10px;
}

.quickbid a {
  cursor: pointer;
}

.quickbidform {
  display: none;
}

.quickbid input[type=number] {
  font-size: 10px;
  width: 20px;
}

.quickbid input[type=submit] {
  font-size: 10px;
}