<% content_for :header do %>
  <%= stylesheet_link_tag 'login' %>
<% end %>

<h1 id="login">Login</h1>
<h1 id="choron">Choron</h1>
<span id="new-and-improved">New and improved!!</span>

<%= render 'form' %>

<%= link_to 'Back', user_sessions_path %>
